body {
	font-family: sans-serif;
	background: rgb(0, 160, 255);
	background: radial-gradient(
		circle,
		rgba(0, 160, 255, 1) 29%,
		rgba(37, 153, 245, 1) 53%,
		rgb(95, 150, 223) 100%
	);
	padding: 1rem 1rem;
	margin: 0;
}
.images {
	display: flex;
	flex-direction: column;
	gap: 2px;
}
.zdjecie-wyroki {
	width: calc(30vw - 3px - 1rem);
	border: 2px solid rgba(0, 118, 255, 1);
	border-radius: 10px;
	margin: 0;
	padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	display: flex;
	gap: 1rem;
}

.yes {
	background-color: greenyellow;
	border-radius: 10px;
	padding: 0.4rem;
	flex-grow: 1;
	text-align: center;
	margin: 0 20rem;
}
.no {
	background-color: red;
	border-radius: 10px;
	padding: 0.4rem;
	flex-grow: 1;
	text-align: center;
	margin: 0.3rem 20rem;
}

.main div {
	background: rgb(0, 113, 255);
	background: linear-gradient(
		173deg,
		rgba(0, 113, 255, 1) 36%,
		rgba(0, 118, 255, 1) 89%
	);
	border-radius: 10px;
	padding: 0.4rem;
	margin: 0.4rem;
	/* border: 2px solid black; */
}
